@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

header, 
.hero-section {
    background: #1F2937;
    display: flex;
    justify-content: center;
}

nav {
    padding: 24px;
    flex-basis: 70%;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    margin-right: auto;
}

.logo > a {
    font-size: 24px;
    font-weight: bold;
}

.hero-section > div {
    padding: 96px 24px;
    flex-basis: 70%;
    display: flex;
    gap: 24px;
}

.hero__text-placeholder, 
.hero__image-placeholder {
    flex-basis: 50%;
}

.hero__text-placeholder > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.hero__text-placeholder > p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 24px;
}

.hero__text-placeholder > button {
    background: #3882F6;
    border: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
}

.hero__image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6D747D;
    color: #F9FAF8;
}

.features {
    background: #F9FAF8;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features > div {
    width: 70%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 36px;
}

.features__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__container > div {
    flex: none;
    width: 150px;
}

.features__image-placeholder {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.features__text {
    text-align: center;
    color: #68707C;
}
